# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
localdrop/

# --- PyInstaller ---
build/
dist/
*.spec

# --- Exécutables ---
*.exe
*.bat

# --- Sécurité & Certificats  ---
*.pem
*.key
*.p12
*.cer
*.pfx
rootCA*

# --- Configuration locale ---
settings.json

# --- IDE ---
.vscode/
.idea/